# Consiguiendo los datos

### Conseguir el link

In [1]:
url = "https://import.cdn.thinkific.com/220744/courses/1648061/pokemon_dataset-220322-181028.zip"

### Descargar el archivo

In [2]:
import urllib.request as Req

In [3]:
Req.urlretrieve(url, "pokemon_dataset.zip")  #Aquí ponemos la ruta donde queremos que se aloje

('pokemon_dataset.zip', <http.client.HTTPMessage at 0x29044c12a90>)

### Descromprimir el archivo

In [4]:
from zipfile import ZipFile

In [5]:
pokemon_zip = ZipFile("pokemon_dataset.zip")

In [6]:
pokemon_zip.filelist

In [7]:
archivo = pokemon_zip.open("pokedex_mastermind.csv")

### Construir un data frame

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv(archivo, index_col = [0]) #Recordemos siempre modificar la columna inicial

In [10]:
df.head()

,pokedex_number,name,generation,status,type_1,type_2,height_m,weight_pounds,hp,attack,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bulbasaur,1,Normal,GRASS,Poison,0.7,15.211878,45,49,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,2,Ivysaur,1,Normal,GRASS,Poison,1.0,28.660060,60,62,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,3,Venusaur,1,Normal,GRASS,Poison,2.0,220.462000,80,82,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,VenusaurMega Venusaur,1,Normal,GRASS,Poison,2.4,342.818410,80,100,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,Charmander,1,Normal,FIRE,NaN,0.6,18.739270,39,52,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [11]:
df.tail()

,pokedex_number,name,generation,status,type_1,type_2,height_m,weight_pounds,hp,attack,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
1040,896,Glastrier,8,Sub Legendary,ICE,NaN,2.2,1763.696000,100,145,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0
1041,897,Spectrier,8,Sub Legendary,GHOST,NaN,2.0,98.105590,100,65,...,1.0,1.0,1.0,0.5,1.0,2.0,1.0,2.0,1.0,1.0
1042,898,Calyrex,8,Legendary,PSYCHIC,Grass,1.1,16.975574,100,80,...,0.5,2.0,0.5,4.0,1.0,2.0,1.0,2.0,1.0,1.0
1043,898,Calyrex Ice Rider,8,Legendary,PSYCHIC,Ice,2.4,1783.758042,100,165,...,1.0,1.0,0.5,2.0,2.0,2.0,1.0,2.0,2.0,1.0
1044,898,Calyrex Shadow Rider,8,Legendary,PSYCHIC,Ghost,2.4,118.167632,100,85,...,1.0,1.0,0.5,1.0,1.0,4.0,1.0,4.0,1.0,1.0

# Limpieza y Manipulación de datos

##  Quitar datos duplicados o irrelevantes

In [12]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1040    False
1041    False
1042    False
1043    False
1044    False
Length: 1045, dtype: bool

In [13]:
df.duplicated().any() #Esto nos trae False si nada es duplicado

False

In [14]:
#También podemos usar
df.duplicated().unique() #Este nos trae los valores unicos

array([False])

In [15]:
df.columns

Index(['pokedex_number', 'name', 'generation', 'status', 'type_1', 'type_2',
       'height_m', 'weight_pounds', 'hp', 'attack', 'defense', 'sp_attack',
       'sp_defense', 'speed', 'catch_rate', 'percentage_male',
       'against_normal', 'against_fire', 'against_water', 'against_electric',
       'against_grass', 'against_ice', 'against_fight', 'against_poison',
       'against_ground', 'against_flying', 'against_psychic', 'against_bug',
       'against_rock', 'against_ghost', 'against_dragon', 'against_dark',
       'against_steel', 'against_fairy'],
      dtype='object')

## Arreglar errores estructurales

In [16]:
df.head()

,pokedex_number,name,generation,status,type_1,type_2,height_m,weight_pounds,hp,attack,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bulbasaur,1,Normal,GRASS,Poison,0.7,15.211878,45,49,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,2,Ivysaur,1,Normal,GRASS,Poison,1.0,28.660060,60,62,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,3,Venusaur,1,Normal,GRASS,Poison,2.0,220.462000,80,82,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,VenusaurMega Venusaur,1,Normal,GRASS,Poison,2.4,342.818410,80,100,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,Charmander,1,Normal,FIRE,NaN,0.6,18.739270,39,52,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [17]:
df.sample()

,pokedex_number,name,generation,status,type_1,type_2,height_m,weight_pounds,hp,attack,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
141,108,Lickitung,1,Normal,NORMAL,NaN,1.2,144.40261,90,55,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0

In [18]:
df.head(50)

,pokedex_number,name,generation,status,type_1,type_2,height_m,weight_pounds,hp,attack,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bulbasaur,1,Normal,GRASS,Poison,0.7,15.211878,45,49,...,1.0,2.0,2.0,1.00,1.0,1.0,1.0,1.0,1.0,0.5
1,2,Ivysaur,1,Normal,GRASS,Poison,1.0,28.660060,60,62,...,1.0,2.0,2.0,1.00,1.0,1.0,1.0,1.0,1.0,0.5
2,3,Venusaur,1,Normal,GRASS,Poison,2.0,220.462000,80,82,...,1.0,2.0,2.0,1.00,1.0,1.0,1.0,1.0,1.0,0.5
3,3,VenusaurMega Venusaur,1,Normal,GRASS,Poison,2.4,342.818410,80,100,...,1.0,2.0,2.0,1.00,1.0,1.0,1.0,1.0,1.0,0.5
4,4,Charmander,1,Normal,FIRE,NaN,0.6,18.739270,39,52,...,2.0,1.0,1.0,0.50,2.0,1.0,1.0,1.0,0.5,0.5
5,5,Charmeleon,1,Normal,FIRE,NaN,1.1,41.887780,58,64,...,2.0,1.0,1.0,0.50,2.0,1.0,1.0,1.0,0.5,0.5
6,6,Charizard,1,Normal,FIRE,Flying,1.7,199.518110,78,84,...,0.0,1.0,1.0,0.25,4.0,1.0,1.0,1.0,0.5,0.5
7,6,Charizard XMega Charizard X,1,Normal,FIRE,Dragon,1.7,243.610510,78,130,...,2.0,1.0,1.0,0.50,2.0,1.0,2.0,1.0,0.5,1.0
8,6,Charizard YMega Charizard Y,1,Normal,FIRE,Flying,1.7,221.564310,78,104,...,0.0,1.0,1.0,0.25,4.0,1.0,1.0,1.0,0.5,0.5
9,7,Squirtle,1,Normal,WATER,NaN,0.5,19.841580,44,48,...,1.0,1.0,1.0,1.00,1.0,1.0,1.0,1.0,0.5,1.0
10,8,Wartortle,1,Normal,WATER,NaN,1.0,49.603950,59,63,...,1.0,1.0,1.0,1.00,1.0,1.0,1.0,1.0,0.5,1.0
11,9,Blastoise,1,Normal,WATER,NaN,1.6,188.495010,79,83,...,1.0,1.0,1.0,1.00,1.0,1.0,1.0,1.0,0.5,1.0
12,9,BlastoiseMega Blastoise,1,Normal,WATER,NaN,1.6,222.887082,79,103,...,1.0,1.0,1.0,1.00,1.0,1.0,1.0,1.0,0.5,1.0
13,10,Caterpie,1,Normal,BUG,NaN,0.3,6.393398,45,30,...,0.5,2.0,1.0,1.00,2.0,1.0,1.0,1.0,1.0,1.0
14,11,Metapod,1,Normal,BUG,NaN,0.7,21.825738,50,20,...,0.5,2.0,1.0,1.00,2.0,1.0,1.0,1.0,1.0,1.0
15,12,Butterfree,1,Normal,BUG,Flying,1.1,70.547840,60,45,...,0.0,2.0,1.0,0.50,4.0,1.0,1.0,1.0,1.0,1.0
16,13,Weedle,1,Normal,BUG,Poison,0.3,7.054784,40,35,...,1.0,2.0,2.0,0.50,2.0,1.0,1.0,1.0,1.0,0.5
17,14,Kakuna,1,Normal,BUG,Poison,0.6,22.046200,45,25,...,1.0,2.0,2.0,0.50,2.0,1.0,1.0,1.0,1.0,0.5
18,15,Beedrill,1,Normal,BUG,Poison,1.0,65.036290,65,90,...,1.0,2.0,2.0,0.50,2.0,1.0,1.0,1.0,1.0,0.5
19,15,BeedrillMega Beedrill,1,Normal,BUG,Poison,1.4,89.287110,65,150,...,1.0,2.0,2.0,0.50,2.0,1.0,1.0,1.0,1.0,0.5
20,16,Pidgey,1,Normal,NORMAL,Flying,0.3,3.968316,40,45,...,0.0,1.0,1.0,0.50,2.0,0.0,1.0,1.0,1.0,1.0
21,17,Pidgeotto,1,Normal,NORMAL,Flying,1.1,66.138600,63,60,...,0.0,1.0,1.0,0.50,2.0,0.0,1.0,1.0,1.0,1.0
22,18,Pidgeot,1,Normal,NORMAL,Flying,1.5,87.082490,83,80,...,0.0,1.0,1.0,0.50,2.0,0.0,1.0,1.0,1.0,1.0
23,18,PidgeotMega Pidgeot,1,Normal,NORMAL,Flying,2.2,111.333310,83,80,...,0.0,1.0,1.0,0.50,2.0,0.0,1.0,1.0,1.0,1.0
24,19,Rattata,1,Normal,NORMAL,NaN,0.3,7.716170,30,56,...,1.0,1.0,1.0,1.00,1.0,0.0,1.0,1.0,1.0,1.0
25,19,Alolan Rattata,1,Normal,DARK,Normal,0.3,8.377556,30,56,...,1.0,1.0,0.0,2.00,1.0,0.0,1.0,0.5,1.0,2.0
26,20,Raticate,1,Normal,NORMAL,NaN,0.7,40.785470,55,81,...,1.0,1.0,1.0,1.00,1.0,0.0,1.0,1.0,1.0,1.0
27,20,Alolan Raticate,1,Normal,DARK,Normal,0.7,56.217810,75,71,...,1.0,1.0,0.0,2.00,1.0,0.0,1.0,0.5,1.0,2.0
28,21,Spearow,1,Normal,NORMAL,Flying,0.3,4.409240,40,60,...,0.0,1.0,1.0,0.50,2.0,0.0,1.0,1.0,1.0,1.0
29,22,Fearow,1,Normal,NORMAL,Flying,1.2,83.775560,65,90,...,0.0,1.0,1.0,0.50,2.0,0.0,1.0,1.0,1.0,1.0
30,23,Ekans,1,Normal,POISON,NaN,2.0,15.211878,35,60,...,2.0,1.0,2.0,0.50,1.0,1.0,1.0,1.0,1.0,0.5
31,24,Arbok,1,Normal,POISON,NaN,3.5,143.300300,60,95,...,2.0,1.0,2.0,0.50,1.0,1.0,1.0,1.0,1.0,0.5
32,25,Pikachu,1,Normal,ELECTRIC,NaN,0.4,13.227720,35,55,...,2.0,0.5,1.0,1.00,1.0,1.0,1.0,1.0,0.5,1.0
33,25,Partner Pikachu,1,Normal,ELECTRIC,NaN,0.4,13.227720,45,80,...,2.0,0.5,1.0,1.00,1.0,1.0,1.0,1.0,0.5,1.0
34,26,Raichu,1,Normal,ELECTRIC,NaN,0.8,66.138600,60,90,...,2.0,0.5,1.0,1.00,1.0,1.0,1.0,1.0,0.5,1.0
35,26,Alolan Raichu,1,Normal,ELECTRIC,Psychic,0.7,46.297020,60,85,...,2.0,0.5,1.0,1.00,1.0,1.0,1.0,1.0,0.5,1.0
36,27,Sandshrew,1,Normal,GROUND,NaN,0.6,26.455440,50,75,...,1.0,1.0,1.0,1.00,0.5,1.0,1.0,1.0,1.0,1.0
37,27,Alolan Sandshrew,1,Normal,ICE,Steel,0.7,88.184800,50,75,...,2.0,0.5,0.5,0.50,1.0,1.0,0.5,1.0,1.0,0.5
38,28,Sandslash,1,Normal,GROUND,NaN,1.0,65.036290,75,100,...,1.0,1.0,1.0,1.00,0.5,1.0,1.0,1.0,1.0,1.0
39,28,Alolan Sandslash,1,Normal,ICE,Steel,1.2,121.254100,75,100,...,2.0,0.5,0.5,0.50,1.0,1.0,0.5,1.0,1.0,0.5
40,29,Nidoran♀,1,Normal,POISON,NaN,0.4,15.432340,55,47,...,2.0,1.0,2.0,0.50,1.0,1.0,1.0,1.0,1.0,0.5
41,30,Nidorina,1,Normal,POISON,NaN,0.8,44.092400,70,62,...,2.0,1.0,2.0,0.50,1.0,1.0,1.0,1.0,1.0,0.5
42,31,Nidoqueen,1,Normal,POISON,Ground,1.3,132.277200,90,92,...,2.0,1.0,2.0,0.50,0.5,1.0,1.0,1.0,1.0,0.5
43,32,Nidoran♂,1,Normal,POISON,NaN,0.5,19.841580,46,57,...,2.0,1.0,2.0,0.50,1.0,1.0,1.0,1.0,1.0,0.5
44,33,Nidorino,1,Normal,POISON,NaN,0.9,42.990090,61,72,...,2.0,1.0,2.0,0.50,1.0,1.0,1.0,1.0,1.0,0.5
45,34,Nidoking,1,Normal,POISON,Ground,1.4,136.686440,81,102,...,2.0,1.0,2.0,0.50,0.5,1.0,1.0,1.0,1.0,0.5
46,35,Clefairy,1,Normal,FAIRY,NaN,0.6,16.534650,70,45,...,1.0,1.0,1.0,0.50,1.0,1.0,0.0,0.5,2.0,1.0
47,36,Clefable,1,Normal,FAIRY,NaN,1.3,88.184800,95,70,...,1.0,1.0,1.0,0.50,1.0,1.0,0.0,0.5,2.0,1.0
48,37,Vulpix,1,Normal,FIRE,NaN,0.6,21.825738,38,41,...,2.0,1.0,1.0,0.50,2.0,1.0,1.0,1.0,0.5,0.5
49,37,Alolan Vulpix,1,Normal,ICE,NaN,0.6,21.825738,38,41,...,2.0,1.0,1.0,0.50,2.0,1.0,1.0,1.0,0.5,0.5

Podemos ver varias observaciones en la muestra de los datos, iremos creando un índice para cada cosa que encontremos

### No se muestran todas la columnas

Lo que haremos para mejorar esto es realizar 2 dataframe, uno para los datos y otro para las debilidades

In [19]:
weakness = df[['against_normal', 'against_fire', 'against_water', 'against_electric',
       'against_grass', 'against_ice', 'against_fight', 'against_poison',
       'against_ground', 'against_flying', 'against_psychic', 'against_bug',
       'against_rock', 'against_ghost', 'against_dragon', 'against_dark',
       'against_steel', 'against_fairy']]

In [20]:
weakness.head()

,against_normal,against_fire,against_water,against_electric,against_grass,against_ice,against_fight,against_poison,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1.0,2.0,0.5,0.5,0.25,2.0,0.5,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1.0,2.0,0.5,0.5,0.25,2.0,0.5,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,1.0,2.0,0.5,0.5,0.25,2.0,0.5,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,1.0,1.0,0.5,0.5,0.25,1.0,0.5,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,1.0,0.5,2.0,1.0,0.50,0.5,1.0,1.0,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

Ahora lo que haremos una vez las tenemos separadas, será dividir los data frames, en este caso uno de weakness y el original quitarle las columnas que dejamos en weakness

In [21]:
cols= ['against_normal', 'against_fire', 'against_water', 'against_electric',
       'against_grass', 'against_ice', 'against_fight', 'against_poison',
       'against_ground', 'against_flying', 'against_psychic', 'against_bug',
       'against_rock', 'against_ghost', 'against_dragon', 'against_dark',
       'against_steel', 'against_fairy']

Aquí ya agarramos las columnas que queremos eliminar del otro data frame, las agrupamos en uns lista para acortar código

In [22]:
df.drop(cols, axis=1, inplace=True) #Recuerda usar el inplace solo si estás seguro del movimiento

Recordemos que inplace es para hacer el cambio permanente en el dataframe y que axis=1 es para agarrar la columna 1, osea el eje cartesiano

In [23]:
df.head()

,pokedex_number,name,generation,status,type_1,type_2,height_m,weight_pounds,hp,attack,defense,sp_attack,sp_defense,speed,catch_rate,percentage_male
0,1,Bulbasaur,1,Normal,GRASS,Poison,0.7,15.211878,45,49,49,65,65,45,45.0,87.5%
1,2,Ivysaur,1,Normal,GRASS,Poison,1.0,28.660060,60,62,63,80,80,60,45.0,87.5%
2,3,Venusaur,1,Normal,GRASS,Poison,2.0,220.462000,80,82,83,100,100,80,45.0,87.5%
3,3,VenusaurMega Venusaur,1,Normal,GRASS,Poison,2.4,342.818410,80,100,123,122,120,80,45.0,87.5%
4,4,Charmander,1,Normal,FIRE,NaN,0.6,18.739270,39,52,43,60,50,65,45.0,87.5%

Como podemos ver, en efecto solo podemos llegar hasta percentage_male, hemos modificado el dataframe

Pero otra cosa que nos percatamos, es que tenemos redundancia, al separarlo ahora separamos weakness del data frame y podemos notar que sería redundante dejar el against si estamos diciendo en el mismo dataframe que son los weakness

In [24]:
weakness.head()

,against_normal,against_fire,against_water,against_electric,against_grass,against_ice,against_fight,against_poison,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1.0,2.0,0.5,0.5,0.25,2.0,0.5,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1.0,2.0,0.5,0.5,0.25,2.0,0.5,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,1.0,2.0,0.5,0.5,0.25,2.0,0.5,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,1.0,1.0,0.5,0.5,0.25,1.0,0.5,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,1.0,0.5,2.0,1.0,0.50,0.5,1.0,1.0,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

Así que lo que haremos a continuación es sustituir el "against_" por un string vacío

In [25]:
weakness.columns = [ x.replace("against_", "") for x in weakness.columns]

In [26]:
weakness.head()

,normal,fire,water,electric,grass,ice,fight,poison,ground,flying,psychic,bug,rock,ghost,dragon,dark,steel,fairy
0,1.0,2.0,0.5,0.5,0.25,2.0,0.5,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1.0,2.0,0.5,0.5,0.25,2.0,0.5,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,1.0,2.0,0.5,0.5,0.25,2.0,0.5,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,1.0,1.0,0.5,0.5,0.25,1.0,0.5,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,1.0,0.5,2.0,1.0,0.50,0.5,1.0,1.0,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

Como podemos ver, ya hemos hecho la modificación

### percentage_male quitar % y pasarlo a float

Primero revisaremos que todos los valores de esa columna si presenten el mismo error, para poder aplicar una función sobre ellos y estar seguros que todos queden igual

In [27]:
df["percentage_male"].unique()

array(['87.5%', '50.0%', '0.0%', '100.0%', '25.0%', '75.0%'], dtype=object)

Como podemos ver, en efecto todos presentan el mismo caso

In [28]:
df["percentage_male"].str.replace("%","").apply(float) #Aquí ya reemplazamos y a la vez lo hicimos float

0       87.5
1       87.5
2       87.5
3       87.5
4       87.5
        ...
1040     0.0
1041     0.0
1042     0.0
1043     0.0
1044     0.0
Name: percentage_male, Length: 1045, dtype: float64

Ya una vez que estamos seguros del cambio, ahora si vamos a reemplazar la columna

In [29]:
df["percentage_male"] = df["percentage_male"].str.replace("%","").apply(float) #Aquí ya reemplazamos y a la vez lo hicimos float

In [30]:
df["percentage_male"].unique()

array([ 87.5,  50. ,   0. , 100. ,  25. ,  75. ])

### Todas las variables de texto deben estar en minusculas

In [31]:
df.select_dtypes(include=[object])

                       name         status   type_1  type_2
0                 Bulbasaur         Normal    GRASS  Poison
1                   Ivysaur         Normal    GRASS  Poison
2                  Venusaur         Normal    GRASS  Poison
3     VenusaurMega Venusaur         Normal    GRASS  Poison
4                Charmander         Normal     FIRE     NaN
...                     ...            ...      ...     ...
1040              Glastrier  Sub Legendary      ICE     NaN
1041              Spectrier  Sub Legendary    GHOST     NaN
1042                Calyrex      Legendary  PSYCHIC   Grass
1043      Calyrex Ice Rider      Legendary  PSYCHIC     Ice
1044   Calyrex Shadow Rider      Legendary  PSYCHIC   Ghost

[1045 rows x 4 columns]

Con ese código nos traemos todos lo del dataframe que sea tipo object, osea str

In [32]:
df.select_dtypes(include=[object]).columns

Index(['name', 'status', 'type_1', 'type_2'], dtype='object')

In [33]:
cols = ["status", "type_1","type_2"]

In [34]:
df[cols].apply(lambda x: x.str.lower())

             status   type_1  type_2
0            normal    grass  poison
1            normal    grass  poison
2            normal    grass  poison
3            normal    grass  poison
4            normal     fire     NaN
...             ...      ...     ...
1040  sub legendary      ice     NaN
1041  sub legendary    ghost     NaN
1042      legendary  psychic   grass
1043      legendary  psychic     ice
1044      legendary  psychic   ghost

[1045 rows x 3 columns]

Ya que vemos que el cambio está correcto, ahora si lo reemplazaremos en nuestro dataframe
OJO: recuerda que en los lambda no se usa inplace="True", así que tendremos que sustituirlo directamente

In [35]:
df[cols] = df[cols].apply(lambda x: x.str.lower())

In [36]:
df.select_dtypes(include=object)

                       name         status   type_1  type_2
0                 Bulbasaur         normal    grass  poison
1                   Ivysaur         normal    grass  poison
2                  Venusaur         normal    grass  poison
3     VenusaurMega Venusaur         normal    grass  poison
4                Charmander         normal     fire     NaN
...                     ...            ...      ...     ...
1040              Glastrier  sub legendary      ice     NaN
1041              Spectrier  sub legendary    ghost     NaN
1042                Calyrex      legendary  psychic   grass
1043      Calyrex Ice Rider      legendary  psychic     ice
1044   Calyrex Shadow Rider      legendary  psychic   ghost

[1045 rows x 4 columns]

Listo, cambio realizado y verificado

### weight_pounds pasarlo a sistema métrico

In [37]:
df["weight_pounds"]

0         15.211878
1         28.660060
2        220.462000
3        342.818410
4         18.739270
           ...
1040    1763.696000
1041      98.105590
1042      16.975574
1043    1783.758042
1044     118.167632
Name: weight_pounds, Length: 1045, dtype: float64

Como vemos ahora habrá que convertirlo a kilos para tener todo en sistema métrico

In [38]:
df["weight_kg"] = df["weight_pounds"] * 0.453592

In [39]:
df["weight_kg"]

0         6.899986
1        12.999974
2        99.999800
3       155.499688
4         8.499983
           ...
1040    799.998396
1041     44.499911
1042      7.699985
1043    809.098378
1044     53.599893
Name: weight_kg, Length: 1045, dtype: float64

Hay que redondearlo para que se vea mas estético

In [40]:
df["weight_kg"] = df["weight_kg"].round(2)

In [41]:
df["weight_kg"]

0         6.9
1        13.0
2       100.0
3       155.5
4         8.5
        ...
1040    800.0
1041     44.5
1042      7.7
1043    809.1
1044     53.6
Name: weight_kg, Length: 1045, dtype: float64

### Los mega tienen el nombre mal

In [42]:
df["name"][:50]

0                       Bulbasaur
1                         Ivysaur
2                        Venusaur
3           VenusaurMega Venusaur
4                      Charmander
5                      Charmeleon
6                       Charizard
7     Charizard XMega Charizard X
8     Charizard YMega Charizard Y
9                        Squirtle
10                      Wartortle
11                      Blastoise
12        BlastoiseMega Blastoise
13                       Caterpie
14                        Metapod
15                     Butterfree
16                         Weedle
17                         Kakuna
18                       Beedrill
19          BeedrillMega Beedrill
20                         Pidgey
21                      Pidgeotto
22                        Pidgeot
23            PidgeotMega Pidgeot
24                        Rattata
25                 Alolan Rattata
26                       Raticate
27                Alolan Raticate
28                        Spearow
29                         Fearow
30                          Ekans
31                          Arbok
32                        Pikachu
33                Partner Pikachu
34                         Raichu
35                  Alolan Raichu
36                      Sandshrew
37               Alolan Sandshrew
38                      Sandslash
39               Alolan Sandslash
40                       Nidoran♀
41                       Nidorina
42                      Nidoqueen
43                       Nidoran♂
44                       Nidorino
45                       Nidoking
46                       Clefairy
47                       Clefable
48                         Vulpix
49                  Alolan Vulpix
Name: name, dtype: object

In [43]:
df["name"].str.contains("Mega")

0       False
1       False
2       False
3        True
4       False
        ...
1040    False
1041    False
1042    False
1043    False
1044    False
Name: name, Length: 1045, dtype: bool

Esto trae sólo booleanos, hay que pedirle en que nos traiga gráficamente de una manera sencilla

In [44]:
df[df["name"].str.contains("Mega")]

,pokedex_number,name,generation,status,type_1,type_2,height_m,weight_pounds,hp,attack,defense,sp_attack,sp_defense,speed,catch_rate,percentage_male,weight_kg
3,3,VenusaurMega Venusaur,1,normal,grass,poison,2.4,342.818410,80,100,123,122,120,80,45.0,87.5,155.5
7,6,Charizard XMega Charizard X,1,normal,fire,dragon,1.7,243.610510,78,130,111,130,85,100,45.0,87.5,110.5
8,6,Charizard YMega Charizard Y,1,normal,fire,flying,1.7,221.564310,78,104,78,159,115,100,45.0,87.5,100.5
12,9,BlastoiseMega Blastoise,1,normal,water,NaN,1.6,222.887082,79,103,120,135,115,78,45.0,87.5,101.1
19,15,BeedrillMega Beedrill,1,normal,bug,poison,1.4,89.287110,65,150,40,15,80,145,45.0,50.0,40.5
23,18,PidgeotMega Pidgeot,1,normal,normal,flying,2.2,111.333310,83,80,80,135,80,121,45.0,50.0,50.5
84,65,AlakazamMega Alakazam,1,normal,psychic,NaN,1.2,105.821760,55,50,65,175,105,150,50.0,75.0,48.0
106,80,SlowbroMega Slowbro,1,normal,water,psychic,2.0,264.554400,95,75,180,130,80,30,75.0,50.0,120.0
125,94,GengarMega Gengar,1,normal,ghost,poison,1.4,89.287110,60,65,80,170,95,130,45.0,50.0,40.5
150,115,KangaskhanMega Kangaskhan,1,normal,normal,NaN,2.2,220.462000,105,125,100,60,100,100,45.0,0.0,100.0
164,127,PinsirMega Pinsir,1,normal,bug,flying,1.7,130.072580,65,155,120,65,90,105,45.0,50.0,59.0
168,130,GyaradosMega Gyarados,1,normal,water,dark,6.5,672.409100,95,155,109,70,130,81,45.0,50.0,305.0
182,142,AerodactylMega Aerodactyl,1,normal,rock,flying,2.1,174.164980,80,135,85,70,95,150,45.0,87.5,79.0
194,150,Mewtwo XMega Mewtwo X,1,legendary,psychic,fighting,2.3,279.986740,106,190,100,154,100,130,3.0,0.0,127.0
195,150,Mewtwo YMega Mewtwo Y,1,legendary,psychic,NaN,1.5,72.752460,106,150,70,194,120,140,3.0,0.0,33.0
199,154,Meganium,2,normal,grass,NaN,1.8,221.564310,80,82,100,83,100,80,45.0,87.5,100.5
227,181,AmpharosMega Ampharos,2,normal,electric,dragon,1.4,135.584130,90,95,105,165,110,45,45.0,50.0,61.5
256,208,SteelixMega Steelix,2,normal,steel,ground,10.5,1631.418800,75,125,230,55,95,30,25.0,50.0,740.0
261,212,ScizorMega Scizor,2,normal,bug,steel,2.0,275.577500,70,150,140,65,100,75,25.0,50.0,125.0
264,214,HeracrossMega Heracross,2,normal,bug,fighting,1.7,137.788750,80,185,115,40,105,75,45.0,50.0,62.5
281,229,HoundoomMega Houndoom,2,normal,dark,fire,1.9,109.128690,75,90,90,140,90,115,45.0,50.0,49.5
301,248,TyranitarMega Tyranitar,2,normal,rock,dark,2.5,562.178100,100,164,150,95,120,71,45.0,50.0,255.0
308,254,SceptileMega Sceptile,3,normal,grass,dragon,1.9,121.695024,70,110,75,145,85,145,45.0,87.5,55.2
312,257,BlazikenMega Blaziken,3,normal,fire,fighting,1.9,114.640240,80,160,80,130,80,100,45.0,87.5,52.0
316,260,SwampertMega Swampert,3,normal,water,ground,1.9,224.871240,100,150,110,95,110,70,45.0,87.5,102.0
341,282,GardevoirMega Gardevoir,3,normal,psychic,fairy,1.6,106.703608,68,85,65,165,135,100,45.0,50.0,48.4
362,302,SableyeMega Sableye,3,normal,dark,ghost,0.5,354.943820,50,85,125,85,115,20,45.0,50.0,161.0
364,303,MawileMega Mawile,3,normal,steel,fairy,1.0,51.808570,50,105,125,55,95,50,45.0,50.0,23.5
368,306,AggronMega Aggron,3,normal,steel,NaN,2.2,870.824900,70,140,230,60,80,50,45.0,50.0,395.0
371,308,MedichamMega Medicham,3,normal,fighting,psychic,1.3,69.445530,60,100,85,80,85,100,90.0,50.0,31.5
374,310,ManectricMega Manectric,3,normal,electric,NaN,1.8,97.003280,70,75,80,135,80,135,45.0,50.0,44.0
384,319,SharpedoMega Sharpedo,3,normal,water,dark,2.5,287.261986,70,140,70,110,65,105,60.0,50.0,130.3
389,323,CameruptMega Camerupt,3,normal,fire,ground,2.5,706.580710,70,120,100,145,105,20,150.0,50.0,320.5
401,334,AltariaMega Altaria,3,normal,dragon,fairy,1.5,45.415172,75,110,110,110,105,80,45.0,50.0,20.6
425,354,BanetteMega Banette,3,normal,ghost,NaN,1.2,28.660060,64,165,75,93,83,75,45.0,50.0,13.0
431,359,AbsolMega Absol,3,normal,dark,NaN,1.2,108.026380,65,150,60,115,60,115,30.0,50.0,49.0
435,362,GlalieMega Glalie,3,normal,ice,NaN,2.1,772.057924,80,120,80,120,80,100,75.0,50.0,350.2
447,373,SalamenceMega Salamence,3,normal,dragon,flying,1.8,248.240212,95,145,130,120,90,120,45.0,50.0,112.6
451,376,MetagrossMega Metagross,3,normal,steel,psychic,2.5,2078.736198,80,145,150,105,110,110,3.0,0.0,942.9
456,380,LatiasMega Latias,3,sub legendary,dragon,psychic,1.8,114.640240,80,100,120,140,150,110,3.0,0.0,52.0
458,381,LatiosMega Latios,3,sub legendary,dragon,psychic,2.3,154.323400,80,130,100,160,120,110,3.0,100.0,70.0
464,384,RayquazaMega Rayquaza,3,legendary,dragon,flying,10.8,864.211040,105,180,100,180,100,115,3.0,0.0,392.0
514,428,LopunnyMega Lopunny,4,normal,normal,fighting,1.3,62.390746,65,136,94,54,96,135,60.0,50.0,28.3
532,445,GarchompMega Garchomp,4,normal,dragon,ground,1.9,209.438900,108,170,115,120,95,92,45.0,50.0,95.0
536,448,LucarioMega Lucario,4,normal,fighting,steel,1.3,126.765650,70,145,88,140,70,112,45.0,87.5,57.5
549,460,AbomasnowMega Abomasnow,4,normal,grass,ice,2.7,407.854700,90,132,105,132,105,30,60.0,50.0,185.0
565,475,GalladeMega Gallade,4,normal,psychic,fighting,1.6,124.340568,68,165,95,65,115,110,45.0,100.0,56.4
629,531,AudinoMega Audino,5,normal,normal,fairy,1.5,70.547840,103,60,126,80,126,50,255.0,50.0,32.0
843,719,DiancieMega Diancie,6,mythical,rock,fairy,1.1,61.288436,50,160,110,160,110,110,3.0,0.0,27.8

In [45]:
df[df["name"].str.contains("Mega")]["name"]

3            VenusaurMega Venusaur
7      Charizard XMega Charizard X
8      Charizard YMega Charizard Y
12         BlastoiseMega Blastoise
19           BeedrillMega Beedrill
23             PidgeotMega Pidgeot
84           AlakazamMega Alakazam
106            SlowbroMega Slowbro
125              GengarMega Gengar
150      KangaskhanMega Kangaskhan
164              PinsirMega Pinsir
168          GyaradosMega Gyarados
182      AerodactylMega Aerodactyl
194          Mewtwo XMega Mewtwo X
195          Mewtwo YMega Mewtwo Y
199                       Meganium
227          AmpharosMega Ampharos
256            SteelixMega Steelix
261              ScizorMega Scizor
264        HeracrossMega Heracross
281          HoundoomMega Houndoom
301        TyranitarMega Tyranitar
308          SceptileMega Sceptile
312          BlazikenMega Blaziken
316          SwampertMega Swampert
341        GardevoirMega Gardevoir
362            SableyeMega Sableye
364              MawileMega Mawile
368              AggronMega Aggron
371          MedichamMega Medicham
374        ManectricMega Manectric
384          SharpedoMega Sharpedo
389          CameruptMega Camerupt
401            AltariaMega Altaria
425            BanetteMega Banette
431                AbsolMega Absol
435              GlalieMega Glalie
447        SalamenceMega Salamence
451        MetagrossMega Metagross
456              LatiasMega Latias
458              LatiosMega Latios
464          RayquazaMega Rayquaza
514            LopunnyMega Lopunny
532          GarchompMega Garchomp
536            LucarioMega Lucario
549        AbomasnowMega Abomasnow
565            GalladeMega Gallade
629              AudinoMega Audino
843            DiancieMega Diancie
Name: name, dtype: object

In [46]:
len (df[df["name"].str.contains("Mega")]["name"])

49

In [47]:
nombres = df[df["name"].str.contains("Mega")]["name"]

In [48]:
nombres[3]

'VenusaurMega Venusaur'

Para esto estaremos usando un método conocido como regex, para encontrar patrones

In [49]:
#Pat = patrón deseado a buscar
pat = "^.*(?=(Mega))"

In [50]:
nombres.str.replace(pat,"",regex=True)

3         Mega Venusaur
7      Mega Charizard X
8      Mega Charizard Y
12       Mega Blastoise
19        Mega Beedrill
23         Mega Pidgeot
84        Mega Alakazam
106        Mega Slowbro
125         Mega Gengar
150     Mega Kangaskhan
164         Mega Pinsir
168       Mega Gyarados
182     Mega Aerodactyl
194       Mega Mewtwo X
195       Mega Mewtwo Y
199            Meganium
227       Mega Ampharos
256        Mega Steelix
261         Mega Scizor
264      Mega Heracross
281       Mega Houndoom
301      Mega Tyranitar
308       Mega Sceptile
312       Mega Blaziken
316       Mega Swampert
341      Mega Gardevoir
362        Mega Sableye
364         Mega Mawile
368         Mega Aggron
371       Mega Medicham
374      Mega Manectric
384       Mega Sharpedo
389       Mega Camerupt
401        Mega Altaria
425        Mega Banette
431          Mega Absol
435         Mega Glalie
447      Mega Salamence
451      Mega Metagross
456         Mega Latias
458         Mega Latios
464       Mega Rayquaza
514        Mega Lopunny
532       Mega Garchomp
536        Mega Lucario
549      Mega Abomasnow
565        Mega Gallade
629         Mega Audino
843        Mega Diancie
Name: name, dtype: object

In [51]:
df.head()

,pokedex_number,name,generation,status,type_1,type_2,height_m,weight_pounds,hp,attack,defense,sp_attack,sp_defense,speed,catch_rate,percentage_male,weight_kg
0,1,Bulbasaur,1,normal,grass,poison,0.7,15.211878,45,49,49,65,65,45,45.0,87.5,6.9
1,2,Ivysaur,1,normal,grass,poison,1.0,28.660060,60,62,63,80,80,60,45.0,87.5,13.0
2,3,Venusaur,1,normal,grass,poison,2.0,220.462000,80,82,83,100,100,80,45.0,87.5,100.0
3,3,VenusaurMega Venusaur,1,normal,grass,poison,2.4,342.818410,80,100,123,122,120,80,45.0,87.5,155.5
4,4,Charmander,1,normal,fire,NaN,0.6,18.739270,39,52,43,60,50,65,45.0,87.5,8.5

Como podemos ver, no se modificó el dataframe, solo vimos cómo quedaría

In [52]:
df["name"] = df["name"].str.replace(pat,"",regex=True)

In [53]:
df.head()

,pokedex_number,name,generation,status,type_1,type_2,height_m,weight_pounds,hp,attack,defense,sp_attack,sp_defense,speed,catch_rate,percentage_male,weight_kg
0,1,Bulbasaur,1,normal,grass,poison,0.7,15.211878,45,49,49,65,65,45,45.0,87.5,6.9
1,2,Ivysaur,1,normal,grass,poison,1.0,28.660060,60,62,63,80,80,60,45.0,87.5,13.0
2,3,Venusaur,1,normal,grass,poison,2.0,220.462000,80,82,83,100,100,80,45.0,87.5,100.0
3,3,Mega Venusaur,1,normal,grass,poison,2.4,342.818410,80,100,123,122,120,80,45.0,87.5,155.5
4,4,Charmander,1,normal,fire,NaN,0.6,18.739270,39,52,43,60,50,65,45.0,87.5,8.5

In [54]:
df[df["name"].str.contains("Mega")]["name"]

3         Mega Venusaur
7      Mega Charizard X
8      Mega Charizard Y
12       Mega Blastoise
19        Mega Beedrill
23         Mega Pidgeot
84        Mega Alakazam
106        Mega Slowbro
125         Mega Gengar
150     Mega Kangaskhan
164         Mega Pinsir
168       Mega Gyarados
182     Mega Aerodactyl
194       Mega Mewtwo X
195       Mega Mewtwo Y
199            Meganium
227       Mega Ampharos
256        Mega Steelix
261         Mega Scizor
264      Mega Heracross
281       Mega Houndoom
301      Mega Tyranitar
308       Mega Sceptile
312       Mega Blaziken
316       Mega Swampert
341      Mega Gardevoir
362        Mega Sableye
364         Mega Mawile
368         Mega Aggron
371       Mega Medicham
374      Mega Manectric
384       Mega Sharpedo
389       Mega Camerupt
401        Mega Altaria
425        Mega Banette
431          Mega Absol
435         Mega Glalie
447      Mega Salamence
451      Mega Metagross
456         Mega Latias
458         Mega Latios
464       Mega Rayquaza
514        Mega Lopunny
532       Mega Garchomp
536        Mega Lucario
549      Mega Abomasnow
565        Mega Gallade
629         Mega Audino
843        Mega Diancie
Name: name, dtype: object

In [55]:
df.head()

,pokedex_number,name,generation,status,type_1,type_2,height_m,weight_pounds,hp,attack,defense,sp_attack,sp_defense,speed,catch_rate,percentage_male,weight_kg
0,1,Bulbasaur,1,normal,grass,poison,0.7,15.211878,45,49,49,65,65,45,45.0,87.5,6.9
1,2,Ivysaur,1,normal,grass,poison,1.0,28.660060,60,62,63,80,80,60,45.0,87.5,13.0
2,3,Venusaur,1,normal,grass,poison,2.0,220.462000,80,82,83,100,100,80,45.0,87.5,100.0
3,3,Mega Venusaur,1,normal,grass,poison,2.4,342.818410,80,100,123,122,120,80,45.0,87.5,155.5
4,4,Charmander,1,normal,fire,NaN,0.6,18.739270,39,52,43,60,50,65,45.0,87.5,8.5

Antes de terminar comprobamos que acabamos con los datos estructurales, pero que nos quedamos con la clumna weight_pounds

In [56]:
df.drop("weight_pounds", axis=1, inplace=True)

In [60]:
df.head()

,pokedex_number,name,generation,status,type_1,type_2,height_m,hp,attack,defense,sp_attack,sp_defense,speed,catch_rate,percentage_male,weight_kg
0,1,Bulbasaur,1,normal,grass,poison,0.7,45,49,49,65,65,45,45.0,87.5,6.9
1,2,Ivysaur,1,normal,grass,poison,1.0,60,62,63,80,80,60,45.0,87.5,13.0
2,3,Venusaur,1,normal,grass,poison,2.0,80,82,83,100,100,80,45.0,87.5,100.0
3,3,Mega Venusaur,1,normal,grass,poison,2.4,80,100,123,122,120,80,45.0,87.5,155.5
4,4,Charmander,1,normal,fire,NaN,0.6,39,52,43,60,50,65,45.0,87.5,8.5

## Filtrar Outliers

In [59]:
df.describe()

,pokedex_number,generation,height_m,hp,attack,defense,sp_attack,sp_defense,speed,catch_rate,percentage_male,weight_kg
count,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1027.000000,1045.000000,1044.000000
mean,440.769378,4.098565,1.374067,70.067943,80.476555,74.670813,73.031579,72.298565,68.807656,92.739046,45.789474,71.216571
std,262.517231,2.272788,3.353349,26.671411,32.432728,31.259462,32.745857,28.098943,30.210094,75.878404,27.631585,132.259911
min,1.000000,1.000000,0.100000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,3.000000,0.000000,0.100000
25%,212.000000,2.000000,0.600000,50.000000,55.000000,50.000000,50.000000,50.000000,45.000000,45.000000,50.000000,9.000000
50%,436.000000,4.000000,1.000000,68.000000,77.000000,70.000000,65.000000,70.000000,65.000000,60.000000,50.000000,29.500000
75%,670.000000,6.000000,1.600000,82.000000,100.000000,90.000000,95.000000,90.000000,90.000000,127.000000,50.000000,70.500000
max,898.000000,8.000000,100.000000,255.000000,190.000000,250.000000,194.000000,250.000000,200.000000,255.000000,100.000000,999.900000

## Lidiar con NANs

In [61]:
df.isna()

,pokedex_number,name,generation,status,type_1,type_2,height_m,hp,attack,defense,sp_attack,sp_defense,speed,catch_rate,percentage_male,weight_kg
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1040,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1041,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1042,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1043,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1044,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [63]:
df.isna().any()

pokedex_number     False
name               False
generation         False
status             False
type_1             False
type_2              True
height_m           False
hp                 False
attack             False
defense            False
sp_attack          False
sp_defense         False
speed              False
catch_rate          True
percentage_male    False
weight_kg           True
dtype: bool

Con esta manera podemos saber sencillamente qué columnas cuentan al menos con un NAN

In [68]:
len (df[df["type_2"].isna()])

492

In [69]:
len(df)

1045

In [72]:
df["type_2"].unique()

array(['poison', 'none', 'flying', 'dragon', 'normal', 'psychic', 'steel',
       'ground', 'fairy', 'grass', 'fighting', 'electric', 'ice', 'dark',
       'ghost', 'rock', 'water', 'fire', 'bug'], dtype=object)

   Vemos qué tipo podemos poner para no confundir con los demás, en este caso podemos poner que ninguno sin problema

In [71]:
df["type_2"].fillna("none", inplace=True)

Ahora vamos con el siguiente elemento en la lista

In [73]:
df[df["catch_rate"].isna()]

,pokedex_number,name,generation,status,type_1,type_2,height_m,hp,attack,defense,sp_attack,sp_defense,speed,catch_rate,percentage_male,weight_kg
69,52,Galarian Meowth,1,normal,steel,none,0.4,50,65,55,40,40,40,NaN,0.0,7.5
100,77,Galarian Ponyta,1,normal,psychic,none,0.8,50,85,55,65,65,90,NaN,0.0,24.0
102,78,Galarian Rapidash,1,normal,psychic,fairy,1.7,65,100,70,80,80,105,NaN,0.0,80.0
111,83,Galarian Farfetch'd,1,normal,fighting,none,0.8,52,95,55,58,62,55,NaN,0.0,42.0
144,110,Galarian Weezing,1,normal,poison,fairy,3.0,65,90,120,85,70,60,NaN,0.0,16.0
158,122,Galarian Mr. Mime,1,normal,psychic,ice,1.4,50,65,65,90,90,100,NaN,0.0,56.8
273,222,Galarian Corsola,2,normal,ghost,none,0.6,60,55,100,65,100,30,NaN,0.0,0.5
320,263,Galarian Zigzagoon,3,normal,dark,normal,0.4,38,30,41,30,41,60,NaN,0.0,17.5
322,264,Galarian Linoone,3,normal,dark,normal,0.5,78,70,61,50,61,100,NaN,0.0,32.5
654,554,Galarian Darumaka,5,normal,ice,none,0.7,70,90,45,15,45,50,NaN,0.0,40.0
657,555,Galarian Darmanitan Standard Mode,5,normal,ice,none,1.7,105,140,55,30,55,95,NaN,0.0,120.0
658,555,Galarian Darmanitan Zen Mode,5,normal,ice,fire,1.7,105,160,55,30,55,135,NaN,0.0,120.0
666,562,Galarian Yamask,5,normal,ground,ghost,0.5,38,55,85,30,65,30,NaN,0.0,1.5
723,618,Galarian Stunfisk,5,normal,ground,steel,0.7,109,81,99,66,84,32,NaN,0.0,20.5
1017,877,Morpeko Hangry Mode,8,normal,electric,dark,0.3,58,95,58,70,58,97,NaN,50.0,3.0
1029,888,Zacian Hero of Many Battles,8,legendary,fairy,none,2.8,92,130,115,80,115,138,NaN,0.0,110.0
1031,889,Zamazenta Hero of Many Battles,8,legendary,fighting,none,2.9,92,130,115,80,115,138,NaN,0.0,210.0
1033,890,Eternatus Eternamax,8,legendary,poison,dragon,100.0,255,115,250,125,250,130,NaN,0.0,NaN

Para no dejar sin ningún valor, vamos a hacer un estimado, sacanado la media de atrapabilidad de pokes normales y de pokes legendarios, para ponerles el valor y no dejar sin nada el catch rate teniendo un valor aproximado

In [79]:
media_normales = df[df["status"] == "normal"]["catch_rate"].mean()
media_legendarios = df[df["status"] == "legendary"]["catch_rate"].mean()

In [75]:
media_normales

103.46400885935769

In [80]:
media_legendarios

23.923076923076923

Hay que ver ahora que esta media si sea algo razonable

In [78]:
df.describe()["catch_rate"]

count    1027.000000
mean       92.739046
std        75.878404
min         3.000000
25%        45.000000
50%        60.000000
75%       127.000000
max       255.000000
Name: catch_rate, dtype: float64

In [83]:
sin_datos = df["catch_rate"].isna()

son_legendarios = df["status"] == "legendary"
son_normales = df["status"] == "normal"

In [85]:
df.loc[sin_datos & son_legendarios, "catch_rate"] = media_legendarios
df.loc[sin_datos & son_normales, "catch_rate"] = media_normales

In [87]:
df["catch_rate"].isna().any()

False

In [88]:
df[df["weight_kg"].isna()]

,pokedex_number,name,generation,status,type_1,type_2,height_m,hp,attack,defense,sp_attack,sp_defense,speed,catch_rate,percentage_male,weight_kg
1033,890,Eternatus Eternamax,8,legendary,poison,dragon,100.0,255,115,250,125,250,130,23.923077,0.0,NaN

Al ser sólo un valor estará más sencillo y podemos buscar fácilmente el dato faltante en internet y asignarlo con una variable

In [89]:
peso = 950

pokemon = df["name"] == "Eternatus Eternamax"

In [90]:
df.loc[pokemon, "weight_kg"] = peso

In [92]:
df.loc[pokemon]

,pokedex_number,name,generation,status,type_1,type_2,height_m,hp,attack,defense,sp_attack,sp_defense,speed,catch_rate,percentage_male,weight_kg
1033,890,Eternatus Eternamax,8,legendary,poison,dragon,100.0,255,115,250,125,250,130,23.923077,0.0,950.0

In [93]:
df.isna().any()

pokedex_number     False
name               False
generation         False
status             False
type_1             False
type_2             False
height_m           False
hp                 False
attack             False
defense            False
sp_attack          False
sp_defense         False
speed              False
catch_rate         False
percentage_male    False
weight_kg          False
dtype: bool

## Validar nuestros datos

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1045 entries, 0 to 1044
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pokedex_number   1045 non-null   int64
 1   name             1045 non-null   object
 2   generation       1045 non-null   int64
 3   status           1045 non-null   object
 4   type_1           1045 non-null   object
 5   type_2           1045 non-null   object
 6   height_m         1045 non-null   float64
 7   hp               1045 non-null   int64
 8   attack           1045 non-null   int64
 9   defense          1045 non-null   int64
 10  sp_attack        1045 non-null   int64
 11  sp_defense       1045 non-null   int64
 12  speed            1045 non-null   int64
 13  catch_rate       1045 non-null   float64
 14  percentage_male  1045 non-null   float64
 15  weight_kg        1045 non-null   float64
dtypes: float64(4), int64(8), object(4)
memory usage: 138.8+ KB

# EDA

## ¿Cuál es el tipo de Pokémon más común?

## ¿Cuántos Pokémon legendarios hay en cada generación?

## ¿Su poder cambia generación tras generación?

## ¿Cuál es el tipo de Pokémon más poderoso?

## ¿Cuáles son los pokemon más grandes?, ¿más pesados? y ¿menos densos?

## ¿Cuántos Pokémon son machos y cuántos son hembra?

## ¿Qué pokemon tiene más ataque que defensa y viceversa?